<form class="skill-roll-dialog">
    {{!#if (equals mode "attribute")}}{{!/if}}
    {{#if (equals mode "career")}}
        <div class="property flexrow">
            <label class="property-label">{{localize "rank"}}</label>
            <label class="property-label">{{career.data.rank}}</label>
        </div>
    {{/if}}
    {{#if (equals mode "weapon")}}
        {{#if defender}}
            <div class="property flexrow">
                <label class="property-label">{{localize "Defender"}} : </label>
                <label class="property-label">{{defender.name}}</label>
            </div>
            <div class="property flexrow">
                <label class="property-label">{{localize "Defense score"}}</label>
                <label class="property-label">{{defender.data.aptitudes.def.value}}</label>
            </div>
        {{/if}}
        {{#if isRangedWeapon}}
            <div class="property flexrow">
                <label class="property-label">{{localize "Range Modifier"}}</label>
                <input class="field-value center" id="rangeModifier" name="rangeModifier" type="text" value="{{numberFormat rangeModifier decimals=0 sign=true}}" data-dtype="Number" style="text-align: center"/>
                <!--    <select id="rangeModifier" value="rangeModifier">-->
                <!--      {{!#select rangeModifier}}-->
                <!--      <option value="1">{{localize "BOL.range.PointBlank"}}</option>-->
                <!--      <option value="0">{{localize "BOL.range.Short"}}</option>-->
                <!--      <option value="-1">{{localize "BOL.range.Medium"}}</option>-->
                <!--      <option value="-2">{{localize "BOL.range.Long"}}</option>-->
                <!--      <option value="-4">{{localize "BOL.range.Very Long"}}</option>-->
                <!--      <option value="-6">{{localize "BOL.range.Extreme"}}</option>-->
                <!--      <option value="-8">{{localize "BOL.range.Maximum"}}</option>-->
                <!--      {{!/select}}-->
                <!--    </select>-->
            </div>
        {{/if}}
    {{/if}}
    {{#if (neq mode "attribute")}}
    {{> "systems/bol/templates/roll/parts/roll-dialog-attribute.hbs"}}
    {{/if}}
    {{> "systems/bol/templates/roll/parts/roll-dialog-modifiers.hbs"}}
</form>
