<form class="skill-roll-dialog">
    {{#if defender}}
        <div class="property flexrow">
            <label class="property-label">{{localize "BOL.ui.defender"}} : </label>
            <label class="property-label">{{defender.name}}</label>
        </div>
        <div class="property flexrow">
            <label class="property-label">{{localize "BOL.ui.defenseScore"}}</label>
            <label class="property-label">{{defender.data.aptitudes.def.value}}</label>
        </div>
    {{/if}}
    {{> "systems/bol/templates/roll/parts/roll-dialog-attribute.hbs"}}
    {{> "systems/bol/templates/roll/parts/roll-dialog-modifiers.hbs"}}
    {{#if isRangedWeapon}}
        <div class="property flexrow">
            <label class="property-label">{{localize "Range Modifier"}}</label>
            <input class="field-value center" id="rangeModifier" name="rangeModifier" type="text"
                   value="{{numberFormat rangeModifier decimals=0 sign=true}}" data-dtype="Number"
                   style="text-align: center"/>
            <!--    <select id="rangeModifier" value="rangeModifier">-->
            <!--      {{!#select rangeModifier}}-->
            <!--      <option value="1">{{localize "BOL.range.PointBlank"}}</option>-->
            <!--      <option value="0">{{localize "BOL.range.Short"}}</option>-->
            <!--      <option value="-1">{{localize "BOL.range.Medium"}}</option>-->
            <!--      <option value="-2">{{localize "BOL.range.Long"}}</option>-->
            <!--      <option value="-4">{{localize "BOL.range.Very Long"}}</option>-->
            <!--      <option value="-6">{{localize "BOL.range.Extreme"}}</option>-->
            <!--      <option value="-8">{{localize "BOL.range.Maximum"}}</option>-->
            <!--      {{!/select}}-->
            <!--    </select>-->
        </div>
    {{/if}}

</form>
