<div class="property flexrow">
    <label class="property-label">{{localize "BOL.ui.subtype"}}</label>
    <select name="data.subtype" value="{{data.subtype}}" data-dtype="String">
        {{#select data.subtype}}
            {{#each config.featureSubtypes as |item id|}}
                <option value="{{id}}">{{localize item}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

{{#each data.properties as |property key|}}
    <div class="property flexrow">
        <label class="property-label">{{localize key}}</label>
        <label class="attribute-value checkbox"><input type="checkbox" name="data.properties.{{key}}" {{checked property}}/></label>
    </div>
{{/each}}
