<div class="form-group">
    <label class="property-label">{{localize "BOL.ui.category"}}</label>
    <div class="form-fields">
        <select class="field-value" name="data.category" value="{{data.category}}" data-dtype="String">
            {{#select data.category}}
                {{#each config.itemCategories as |item id|}}
                    <option value="{{id}}">{{localize item}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label class="property-label">Type</label>
    <div class="form-fields">
        <label class="checkbox">
            <input class="field-value" type="checkbox" name="data.properties.weapon" {{checked data.properties.weapon}}> {{localize "BOL.itemProperty.weapon"}}
        </label>
        <label class="checkbox">
            <input class="field-value" type="checkbox" name="data.properties.protection" {{checked data.properties.protection}}> {{localize "BOL.itemProperty.protection"}}
        </label>
        <label class="checkbox">
            <input class="field-value" type="checkbox" name="data.properties.magical" {{checked data.properties.magical}}> {{localize "BOL.itemProperty.magical"}}
        </label>
    </div>
</div>

{{#if (equals data.category "equipment")}}
    {{> "systems/bol/templates/item/parts/properties/item/equipment-properties.hbs"}}
{{/if}}
{{#if data.properties.weapon}}
    {{> "systems/bol/templates/item/parts/properties/item/weapon-properties.hbs"}}
{{/if}}
{{#if data.properties.protection}}
    {{> "systems/bol/templates/item/parts/properties/item/protection-properties.hbs"}}
{{/if}}
{{#if data.properties.magical}}
    {{> "systems/bol/templates/item/parts/properties/item/magical-properties.hbs"}}
{{/if}}
