<ol class="items-list">
    <li class="item flexrow item-header">
        <div class="item-name">{{localize "BOL.ui.actions"}}</div>
        <div class="item-name">{{localize "BOL.ui.damages"}}</div>
    </li>
    {{#each data.weapons as |weapon id|}}
        <li class="item flexrow" data-item-id="{{weapon._id}}">
            <div class="item-image"><img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24"/></div>
            <h4 class="item-name"><a class="roll-weapon">{{weapon.name}}</a></h4>
            <span class="item-name">{{weapon.data.damage}}</span>
            <div class="item-controls-2">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    {{/each}}
</ol>
