<h3 class="form-header">{{localize "BOL.ui.vehicleProperties"}}</h3>

<div class="form-group">
    <label class="property-label">{{localize "BOL.ui.subtype"}}</label>
    <div class="form-fields">
        <select name="data.subtype" data-dtype="String">
            {{#select data.subtype}}
                {{#each config.vehicleSubtypes as |item id|}}
                    <option value="{{id}}">{{localize item}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>
<hr/>
<div class="form-group">
    <label class="property-label">{{localize "BOL.ui.speed"}}</label>
    <div class="form-fields">
        <input class="field-value" type="text" name="data.properties.speed" value="{{data.properties.speed}}" data-dtype="Number"/>
    </div>
</div>

<div class="form-group">
    <label class="property-label">{{localize "BOL.ui.price"}}</label>
    <div class="form-fields">
        <input class="field-value" type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
    </div>
</div>
