 <h4><strong>{{localize "BOL.chat.alchemytitle" name=alchemy.name}}</strong></h4>
<h4><strong>{{localize "BOL.chat.alchemypoints" pcCostCurrent=pcCostCurrent}}</strong></h4>

{{#if isSuccess}}
  {{localize "BOL.chat.alchemysuccess"}}
{{else}}
  {{localize "BOL.chat.alchemyfailure"}}
{{/if}}
