<div>
  {{#if isSuccess}}
      {{#if isCritical}}
          <h2 class="success critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "BOL.ui.critical"}}...
      {{else}}
          <h2 class="success"><i class="fas fa-check"></i>&nbsp;{{localize "BOL.ui.success"}}...
      {{/if}}
  {{/if}}
  {{#if isFailure}}
      {{#if isFumble}}
          <h2 class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "BOL.ui.fumble"}}...
      {{else}}
          <h2 class="failure"><i class="fas fa-times"></i>&nbsp;{{localize "BOL.ui.failure"}}...
      {{/if}}
  {{/if}}
    <img class="chat-icon" src="{{actor.img}}" alt="{{actor.name}}"/>
  </h2>
</div>

<h3><strong>{{description}}</strong></h3> 

{{#if fightOption}}
<div>
  Option de combat : {{fightOption.name}}
</div>
{{/if}}

<div id="{{optionsId}}">
  {{#if (and isSuccess weapon)}}
  {{> "systems/bol/templates/chat/rolls/attack-damage-card.hbs"}}
  {{/if}}
  {{#if (and isSuccess spell)}}
  {{> "systems/bol/templates/chat/rolls/spell-roll-card.hbs"}}
  {{/if}}
  {{#if alchemy}}
  {{> "systems/bol/templates/chat/rolls/alchemy-roll-card.hbs"}}
  {{/if}}

  {{#if reroll}}
    <button class="chat-button button hero-reroll" data-roll-id=="{{rollId}}" data-actor-id="{{actor.id}}">Relancer (1 P. Heroisme)</button>
  {{/if}}
  {{#if isRealCritical}}
    <button class="chat-button button transform-heroic-roll" data-roll-id=="{{rollId}}" data-actor-id="{{actor.id}}">Transformer en succes héroique (1 P. Heroisme)</button>
  {{/if}}
  <br>
</div>