<div>
  {{#if isSuccess}}
      {{#if isLegendary}}
          <h2 class="success critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "BOL.ui.criticallegend"}}...
      {{else}}
        {{#if isCritical}}
            <h2 class="success critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "BOL.ui.critical"}}...
        {{else}}
            <h2 class="success"><i class="fas fa-check"></i>&nbsp;{{localize "BOL.ui.success"}}...
        {{/if}}
      {{/if}}
  {{/if}}
  {{#if isFailure}}
      {{#if isFumble}}
          <h2 class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "BOL.ui.fumble"}}...
      {{else}}
          <h2 class="failure"><i class="fas fa-times"></i>&nbsp;{{localize "BOL.ui.failure"}}...
      {{/if}}
  {{/if}}
    <img class="chat-icon" src="{{img}}" alt="{{actor.name}}"/>
  </h2>
</div>

<h3><strong>{{description}}</strong></h3> 

<div class="actions-section">
  {{#if fightOption}}
  <div>
    {{localize "BOL.chat.fightoption"}} : {{fightOption.name}}
  </div>
  {{/if}}

  <div id="{{optionsId}}">
    {{#if (and isSuccess weapon)}}
    {{> "systems/bol/templates/chat/rolls/attack-damage-card.hbs"}}
    {{/if}}
    {{#if (and isSuccess spell)}}
    {{> "systems/bol/templates/chat/rolls/spell-roll-card.hbs"}}
    {{/if}}
    {{#if alchemy}}
    {{> "systems/bol/templates/chat/rolls/alchemy-roll-card.hbs"}}
    {{/if}}
    
    {{#if reroll}}
      <button class="chat-button button hero-reroll" data-roll-id=="{{rollId}}" data-actor-id="{{actor.id}}">{{localize "BOL.chat.reroll"}}</button>
    {{/if}}
    {{#if (and isSuccess (not isCritical))}}
      <button class="chat-button button transform-heroic-roll" data-roll-id=="{{rollId}}" data-actor-id="{{actor.id}}">{{localize "BOL.chat.toheroic"}}</button>
    {{/if}}

    {{#if isRealCritical}}
      <button class="chat-button button transform-legendary-roll" data-roll-id=="{{rollId}}" data-actor-id="{{actor.id}}">{{localize "BOL.chat.tolegend"}}</button>
    {{/if}}
    <br>
  </div>
</div>

