<img class="chat-icon" src="{{img}}" alt="{{name}}"/>
<h3><strong>{{name}}</strong></h3> 

<div class="flexrow">
  
  {{#if (eq hp 0)}}
    La Vitalité de {{name}} est {{hp}} : il va s'écrouler au sol et sombrer dans l'inconscience !
    <br>Vous pouvez dépenser 1 Point d'Héroisme pour reprendre vos esprits pendant 1 round. 
    <br>Dans ce cas votre vitalité remonte à son maximum divisé par 2 (arrondi au supérieur).
  {{else}}
    La Vitalité de {{name}} est de {{hp}} ! Il est mourant ...
    <br>Vous pouvez cependant dépenser 1 Point d'Héroisme pour Défier la Mort (cf. page 58). 
  {{/if}}

  {{#if (lt hp -5)}}
  <br><strong>{{name}} est mort ! </strong>
  <br>Que son nom soit honoré sur les champs de batailles de Lémurie !
  {{/if}} 

</div>

