<div>
  <img class="chat-icon" src="{{img}}" alt="{{name}}"/>
  <h2 class="good"><strong>{{name}}</strong></h2> 
</div>

<div class="flexrow">
  {{#if state}}
    {{name}} active son option de combat {{foName}} pour ce round !
  {{else}}
    {{name}} désactive son option de combat {{foName}} pour ce round !
  {{/if}}

</div>

