<div>
  <img class="chat-icon" src="{{img}}" alt="{{name}}"/>
  <h2 class="bad"><strong>{{story.title}}</strong></h2> 
</div>

<div class="flexrow">
  
    <br>{{story.mission}}
    {{#if story.carriere}}
      <br>{{story.carriere}}
    {{/if}}
    {{#if story.lieu}}
      <br>{{story.lieu}}
    {{/if}}
    {{#if story.objet}}
      <br>{{story.objet}}
    {{/if}}
    <br>{{story.motivation}}
    {{#if story.rival}}
      <br>{{story.rival}}
    {{/if}}
    {{#if story.dieu}}
      <br>{{story.dieu}}
    {{/if}}
    {{#if story.complication}}
      <br>{{story.complication}}
    {{/if}}
    {{#if story.retournement}}
      <br>{{story.retournement}}
    {{/if}}
    <br>{{story.recompense}}
</div>

