<div class="chat-message-header flexrow">
    <img class="chat-icon" src="{{actorImg}}" alt="{{alias}}"/>
    <h4 class=chat-actor-name>{{alias}}</h4>
</div>
<div class="flexrow">
    <h3>
        {{#if (eq mode "attribute")}}
            {{localize attribute.label}}
        {{else}}
            {{#if (eq mode "career")}}
                {{localize "Career"}} : {{career.name}}
            {{else}}
                {{#if (eq mode "weapon")}}
                    {{localize "Attack with"}} {{weapon.name}}
                {{/if}}
            {{/if}}
        {{/if}}
    </h3>
</div>
<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        <div class="dice-formula">{{modifier}}</div>
        <div class="dice-tooltip" style="display: none;">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">{{formula}}</span>
                        <span class="part-total">{{finalScore}}</span>
                    </header>
                    <ol class="dice-rolls">
                        <li class="roll die d6 discarded min">1</li>
                        <li class="roll die d6">2</li>
                        <li class="roll die d6">3</li>
                    </ol>
                </div>
            </section>
        </div>
        <h4 class="dice-total">{{finalScore}}</h4>
    </div>
</div>