<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="row flexrow table-header">
            <div class="flex1 center">
                <h3>{{localize 'BOL.ui.weaponCheck'}}</h3>
            </div>
        </div>
    </header>

    {{> "systems/bol/templates/dialogs/attribute-roll-part.hbs"}}

    {{> "systems/bol/templates/dialogs/aptitude-roll-part.hbs"}}

    <div class="flexrow roll-box" >
        <div class="flex1 center bg-darkred">
            <label for="mod">{{localize 'BOL.ui.targetDefence'}}</label>
        </div>
        <div class="flex1 center cell">{{defence}}</div>
    </div>
      {{#if (eq shieldBlock 'blockall')}}
      <div class="flexrow roll-box" >
          <div class="flex1 center bg-darkred">
              <label for="mod">{{localize 'BOL.ui.shieldMalus'}}</label>
          </div>
          <div class="flex1 center cell">{{shieldAttackMalus}}</div>
      </div>
      {{/if}}
      {{#if (eq shieldBlock 'blockone')}}
      <div class="flexrow roll-box" >
          <div class="flex1 center bg-darkred">
              <label for="mod">{{localize 'BOL.ui.shieldMalus'}}</label>
          </div>
          <div class="flex1 center cell">
            <label class="checkbox">
              <input class="field-value" type="checkbox" id="applyShieldMalus" name="applyShieldMalus" {{checked applyShieldMalus}}> {{localize "BOL.ui.applyShieldMalus"}}
            </label>
          </div>
      </div>
      {{/if}}

    {{> "systems/bol/templates/dialogs/career-roll-part.hbs"}}

    {{> "systems/bol/templates/dialogs/boons-roll-part.hbs"}}

    {{> "systems/bol/templates/dialogs/flaws-roll-part.hbs"}}

    {{> "systems/bol/templates/dialogs/fightoptions-roll-part.hbs"}}

    {{> "systems/bol/templates/dialogs/adv-roll-part.hbs"}}

    {{> "systems/bol/templates/dialogs/mod-roll-part.hbs"}}

    {{> "systems/bol/templates/dialogs/total-roll-part.hbs"}}

</form>
