<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="properties">{{localize "Properties"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="property flexrow">
        <label class="property-label">{{localize "subtype"}}</label>
        <select name="data.subtype" value="{{data.subtype}}" data-dtype="String">
          {{#select data.subtype}}
          <option value="light">{{localize "Light Armor"}}</option>
          <option value="medium">{{localize "Medium Armor"}}</option>
          <option value="heavy">{{localize "Heavy Armor"}}</option>
          <option value="helm">{{localize "Helm"}}</option>
          <option value="smallshield">{{localize "Small Shield"}}</option>
          <option value="bigshield">{{localize "Big Shield"}}</option>
          {{/select}}
        </select>
      </div>

      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab properties" data-group="primary" data-tab="properties">
      {{!-- As you add new fields, add them in here! --}}
      <!--            <div class="grid grid-2col">-->
      <div class="property flexrow">
        <label class="property-label">{{localize "Quantity"}}</label>
        <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
      </div>
      <div class="property flexrow">
        <label class="property-label">{{localize "Weight"}}</label>
        <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
      </div>
      <div class="property flexrow">
        <label class="property-label">{{localize "Protection Roll"}}</label>
        <select name="data.damage" value="{{data.damage}}" data-dtype="String">
          {{#select data.damage}}
          <option value="none">{{localize "None"}}</option>
          <option value="1d6-3">d6-3</option>
          <option value="1d6-2">d6-2</option>
          <option value="1d6-1">d6-1</option>
          {{/select}}
        </select>
      </div>
      <div class="property flexrow">
        <label class="property-label">{{localize "Protection Fixed"}}</label>
        <input type="text" name="data.protectionfixed" value="{{data.protectionfixed}}" data-dtype="Number" />
      </div>
      <div class="property flexrow">
        <label class="property-label">{{localize "Social Malus"}}</label>
        <label class="attribute-value checkbox"><input type="checkbox" name="data.socialmalus" value="{{data.socialmalus}}" data-dtype="checkbox" {{checked
            data.socialmalus}}/></label>
      </div>
      <div class="property flexrow">
        <label class="property-label">{{localize "Agility Malus"}}</label>
        <input type="text" name="data.agilitymalus" value="{{data.agilitymalus}}" data-dtype="Number" />
      </div>
      <div class="property flexrow">
        <label class="property-label">{{localize "Initiative Malus"}}</label>
        <input type="text" name="data.initmalus" value="{{data.initmalus}}" data-dtype="Number" />
      </div>
      <div class="property flexrow">
        <label class="property-label">{{localize "Power Cost"}}</label>
        <input type="text" name="data.powercost" value="{{data.powercost}}" data-dtype="Number" />
      </div>
      <div class="property flexrow">
        <label class="property-label">{{localize "Equipped"}}</label>
        <label class="attribute-value checkbox"><input type="checkbox" class="checkbox" name="data.equipped" value="{{data.equipped}}" data-dtype="checkbox" {{checked
            data.equipped}}/></label>
      </div>

      <!--            </div>-->
      {{#each data.properties as |property key|}}
      <div class="property flexrow">
        <label class="property-label">{{localize key}}</label>
        <label class="attribute-value checkbox"><input type="checkbox" name="data.properties.{{key}}" {{checked
            property}} /></label>
      </div>
      {{/each}}
    </div>
  </section>
</form>