<div class="property flexrow">
    <label class="property-label">{{localize "attribut"}}</label>
    <select id="rollAttribute" value="rollAttribute">
        {{#select rollAttribute}}
            <option value="vigor">{{localize "BOL.attributes.vigor"}}</option>
            <option value="agility">{{localize "BOL.attributes.agility"}}</option>
            <option value="mind">{{localize "BOL.attributes.mind"}}</option>
            <option value="appeal">{{localize "BOL.attributes.appeal"}}</option>
        {{/select}}
    </select>
</div>
