<div class="property flexrow">
    <label class="property-label">{{localize "d6M"}}</label>
    <input class="field-value center" id="d6Malus" name="d6Malus" type="text" value="{{numberFormat d6Malus decimals=0 sign=true}}" data-dtype="Number" style="text-align: center"/>
    <!--      <select id="d6Malus" value="d6Malus">-->
    <!--      {{!#select d6Malus}}-->
    <!--      <option value="0">0</option>-->
    <!--      <option value="1">1</option>-->
    <!--      <option value="2">2</option>-->
    <!--      <option value="3">3</option>-->
    <!--      <option value="4">4</option>-->
    <!--      {{!/select}}-->
    </select>
</div>

<div class="property flexrow">
    <label class="property-label">{{localize "d6B"}}</label>
    <input class="field-value center" id="d6Bonus" name="d6Bonus" type="text" value="{{numberFormat d6Bonus decimals=0 sign=true}}" data-dtype="Number" style="text-align: center"/>
    <!--    <select id="d6Bonus" value="d6Bonus">-->
    <!--      {{!#select d6Bonus}}-->
    <!--      <option value="0">0</option>-->
    <!--      <option value="1">1</option>-->
    <!--      <option value="2">2</option>-->
    <!--      <option value="3">3</option>-->
    <!--      <option value="4">4</option>-->
    <!--      {{!/select}}-->
    <!--    </select>-->
</div>

<div class="property flexrow">
    <label class="property-label">{{localize "Modifier"}}</label>
    <select id="bonusMalus" value="bonusMalus">
        {{#select bonusMalus}}
            {{{optionsBonusMalus}}}
        {{/select}}
    </select>
</div>
